.#*
*~
bin/*
.bundle
config/database.yml
config/deploy.rb
config/imports/*
coverage
doc/api
doc/app
doc/guides
.DS_Store
gems/gems/*
gems/specifications/*
log/*
log/*.log
nbproject
nbproject/*
nbproject/**/*
.project
public/stylesheets/*.css
.rake_tasks~
.sass-cache
.sass-cache/*
.sass-cache/**/*
schema/schema.rb
src/*
.svn/*
*.sw?
*.swp
TAGS
tmp/*
tmp/**/*
vendor/gems
vendor/gems/*
!vendor/gems/cache/
