.#*
*~
bin/*
.bundle
config/database.yml
config/deploy.rb
config/imports/*
coverage
*.db
db/*.db
db/*.sqlite
db/*.sqlite3
doc/api
doc/app
doc/guides
.DS_Store
gems/gems/*
gems/specifications/*
.hg/*
.hgignore
log/*
log/*.log
merb_profile_results
nbproject
nbproject/*
nbproject/**/*
.project
public/stylesheets/*.css
.rake_tasks~
.sass-cache
.sass-cache/*
.sass-cache/**/*
schema/*.db
schema/schema.rb
schema/*.sqlite
schema/*.sqlite3
schema/*_structure.sql
*.sqlite
*.sqlite3
src/*
.svn/*
*.sw?
*.swp
TAGS
tmp/*
tmp/**/*
vendor/gems
vendor/gems/*
!vendor/gems/cache/
