%h1 Listing filter groups

%ul
  - @filter_groups.each do |filter_group|
    %li
      = filter_group.name
      %ul
        - filter_group.filters.each do |filter|
          %li= filter.machine_name
