%header
  %span.h Listing nodes

- @featured.each do |node|
  = render :partial => 'article', :locals => { :node => node, :is_featured => true }

- @nodes.each do |node|
  = render :partial => 'article', :locals => { :node => node }
