%header
  %span.h Listing nodes
  = link_to 'New node', new_node_path

- @featured.each do |node|
  %article.node.featured
    = full_node node

- @nodes.each do |node|
  %article.node
    = preview_node node
