%header
  %span.h Listing nodes
  = link_to 'New node', new_node_path

- @featured.each do |node|
  %article.node.featured{ :class => node.machine_name }
    = show_node node, :full

- @nodes.each do |node|
  %article.node{ :class => node.machine_name }
    = show_node node, :preview
