%header
  %span.h= node.title
%section
  %table
    %caption= filter node.caption, :keep_paragraphs => false
    %thead
      = partial 'table/views/rows', :data => node.data.shift if node.has_header_row
    %tfoot
    %tbody
      = partial 'table/views/rows', :data => node.data
