%header
  %span.h= node.title
%section
  %table
    %caption= filter node.caption, :keep_paragraphs => false
    %thead
    %tfoot
    %tbody
      - node.data.each do |row|
        %tr
          - row.each do |cell|
            %td= filter cell, :keep_paragraphs => false
