%header
  %span.h= node.title
%section
  %table
    %caption= node.caption
    %thead
    %tfoot
    %tbody
      - node.data.each do |row|
        %tr
          - row.each do |cell|
            %td= cell
