- unless items.empty?
  %ul<>
    - items.each do |item|
      %li<>
        - link = link_to_if item[:href], item[:name], item[:href]
        - if item[:children]
          %label<>= link
        - else
          = link
        - if item[:children]
          = partial 'shared/menu', :items => item[:children]
