%ul
  - @vocabularies.each do |vocabulary|
    %li
      = link_to vocabulary.name, admin_vocabulary_path(vocabulary)
      %ul
        - vocabulary.terms.each do |term|
          %li
            = link_to term.name, admin_vocabulary_term_path(vocabulary, term)
