= link_to 'New', new_admin_vocabulary_path

%ul
  - @vocabularies.each do |vocabulary|
    %li
      = link_to vocabulary.name, [:admin, vocabulary]
      = link_to 'Edit', edit_admin_vocabulary_path(vocabulary)
      %ul
        - vocabulary.terms.each do |term|
          %li
            = link_to term.name, [:admin, vocabulary, term]
