%ul
  - @vocabularies.each do |vocabulary|
    %li
      = link_to vocabulary.name, [:admin, vocabulary]
      = link_to 'Edit', edit_admin_vocabulary_path(vocabulary)
      = partial :terms, :vocabulary => vocabulary
