%header
  %span.h Listing themes

%section
  %table#content_overview
    %col.actions
    %col.theme-name
    %col.theme-scope
    %thead
      %tr
        %th Actions
        %th Name
        %th Scope
    %tfoot
      %tr
        %td
        %td
        %td
    %tbody
      - @themes.each do |theme|
        %tr
          %td
            %span.preview= link_to 'Preview', :force_theme => theme.machine_name
            %span.use= link_to 'Use'
          %td= theme.name
          %td= theme.frontend? ? 'Frontend' : 'Backend'
