%h1 Listing terms

%table
  %tr
    %th
    %th
    %th

  - @terms.each do |term|
    %tr
      %td= link_to 'Show', [:admin, @vocabulary, term]
      %td= link_to 'Edit', edit_admin_vocabulary_term_path(@vocabulary, term)
      %td= link_to 'Destroy', [:admin, @vocabulary, term], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Term', new_admin_vocabulary_term_path
