@import base

@mixin template_default_admin_all
  /* @group links */
  :focus
    outline: 1px dotted $quiet_color
    color: $hover_color

  a
    &:link
      color: $link_color
    &:visited
      color: $visited_color
    &:focus,
    &:hover,
    &:active
      color: $hover_color
      text-decoration: none
  /* @end */


  /* @group headers */
  .h
    display: block
    color: $header_color
    font:
      size: $base_line_height
      weight: bold
    @include serif-family
  /* @end */


  /* @group forms */
  form *:focus
    outline: none

  fieldset
    margin: $base_line_height 0
    ul
      @include no-bullets

  legend
    font-weight: bold
    font-variant: small-caps

  label
    display block
    margin-top: $base_line_height

  legend + label
    margin-top: 0

  textarea,
  input[type="text"]
    color: $quiet_color
    @include box-sizing("border-box")
    width: 100%
  /* @end */


  /* @group tables */
  /* tables still need 'cellspacing="0"' in the markup */
  table
    width: 100%
    border: 1/16 + "em solid" $quiet_color + #333
      left: none
      right: none
    padding: 7/16 + "em 0"
    margin: 8/16 + "em 0"

  tbody
    color: $quiet_color

  th
    font-weight: bold
  /* @end */


  /* @group block tags */
  p
    margin: $base_line_height 0

  ol
    @include list-default("ol")

  ul
    @include list-default

  blockquote
    margin: $base_line_height
    color: $quiet_color
  /* @end */


  /* @group inline tags */
  cite
    font-style: italic
    color: $quiet_color

  em
    font-style: italic

  strong
    font-weight: bold

  ins
    text-decoration: underline

  del
    text-decoration: line-through

  q
    font-style: italic
    em
      font-style: normal
  /* @end */


  /* @group replaced tags */
  img
    vertical-align: bottom
  /* @end */


  /* @group STRUCTURE */
  @include susy

  body
    @include sans-family
    color: $font_color
    line-height: 1.625
    font-size: 16px

  //
    .clearfix
      // @include clearfix
      margin: 0
      border: none

  #branding

  #main_menu
    ul
      li
        a
        label
          a
        ul
          display: none
      li:hover
        a
        label
          a
        ul
          display: block
    > ul
      @include horizontal-list
      > li
        > a
        > label
          a
        > ul
          li
            display: block

  #content

  #credits

  #nodes_index
    #content_overview
      .node-type
        width: 10%
      .node-title
        width: 80%
      .actions
        width: 10%
      th
        .node-type
        .node-title
        .actions
      td
        .node-type
        .node-title
        .actions
          .view
          .edit
          .destroy
      @for $ancestors from 0 through 10
        $size: 2% * $ancestors
        .ancestors-#{$ancestors}
          padding:
            left: $size
          width: 80% - $size
  /* @end */


  /* @group DEBUG */
  // uncomment, adjust and use for debugging
  //
    #branding,
    #main_menu,
    #content,
    #credits
      @include show-grid('grid.png')
  /* @end */
